body{
	width: 1480px;
font-family: 'Roboto', sans-serif;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

ul{
	list-style-type: none;
}

.text{
	font-style: normal;
	font-weight: 400;
	font-size: 80px;
	line-height: 94px;
	color: black;
}

.text-black{
	color: black;
}

.text-blue{
	color: #4BCAFF;
}

.nav-header{
	width: 1282px;
	height: 72px;
	padding: 0;
	margin: 24px 0;
	display: flex;
	justify-content: center;
align-items: center;
	background-color: #35444F;
}

.text-header-menu,
.text-header-menu-border{
	padding: 26px 32px 26px 32px;
	font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
border-left: 1px solid white;
}

.text-header-menu:hover{
	background-color: #222F3A;
}
.text-header-menu-border:hover{
	background-color: #222F3A;
}

.text-header-menu-border{
	border-right: 1px solid white;
}


.side{
	width: 344px;
	height: 399px;
	border: 1px solid black;
	padding: 0;
	margin: 24px 26px 24px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.text-side{
	font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
margin-left: 44px;
color: #495863;
}
.hov{
	padding: 26px 32px 26px 32px;
}

.hov:hover{
	padding-left: 55px;
	background-color: #DBDBDB;
}

.info{
	width: 885px;
	height: 832px;
	padding: 0;
	margin: 24px 0 24px 26px;
}

.imeg{
	width: 885px;
	height: 529px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

img:hover{
	transform: scale(1.1);
}

p{
	font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
}

footer{
	width: 1280px;
	height: 69px;
	background: rgba(99, 105, 110, 0.48);
	margin-bottom: 30px;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-footer{
	display: flex;
	padding: 0;
}

.text-footer{
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
color: #0C1927;
padding-left: 40px;
}

.text-footer:hover{
	color: #3181A6;
	text-decoration: underline;
}

.copy{
	font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
padding-left: 40px;
}